<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <identity impersonate="false"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="a8" path="/home/saveLink" verb="*" type="java" preCondition="integratedMode" />
      <add name="a7" path="/account/captcha" verb="*" type="java" preCondition="integratedMode" />
      <add name="a6" path="/index3.html" verb="*" type="javaTmplate" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>


